<%- include('header'); -%>
    <div class="container">
      
      <div class="row" style="margin-top: 30px">
        <div class="col-sm-8 blog-main">
          <div class="row photos">
            <div class="col-md-12">
              <img width="100%" src="/<%= item.url %>">
            </div>
            <div class="col-md-12" style="margin-top: 10px;">
              <table>
                <tr>
                  <td class="a">
                    <span class="glyphicon glyphicon-map-marker" style="font-size: 25pt"></span>
                  </td>
                  <td width="400"><%= ((user_id == item.owner) ? item.geo : 'undefined') %></td>
                  <td>
                    <span class="glyphicon glyphicon-comment" style="font-size: 25pt"></span>
                  </td>
                  <td width="50" style="padding-left: 10px;">4</td> 
                  <td class="a" width="100">
                    <div class="like <%= (is_like ? "active": "")  %>" data-id="<%= item.id %>"><span class="glyphicon glyphicon-heart" style="font-size: 25pt"></span></div>
                  </td>
              </tr></table>
              
            </div>
          </div>
        </div><!-- /.blog-main -->
        <div class="col-sm-4">
        <div class="media" style="margin-bottom: 60px">
            <div class="media-left">
              <a href="#">
                <img class="media-object" width="50" src="/images/user.jpg" alt="">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= item.owner %></h4>
              <%= item.description %>
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" width="50" src="https://avatars2.githubusercontent.com/u/12109612?v=3&s=460" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Совсем неплохо</h4>
              Это супер круто!
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" width="50" src="https://avatars2.githubusercontent.com/u/12109612?v=3&s=460" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Совсем неплохо</h4>
              Это супер круто!
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" width="50" src="https://avatars2.githubusercontent.com/u/12109612?v=3&s=460" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Совсем неплохо</h4>
              Это супер круто!
            </div>
          </div>
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" width="50" src="https://avatars2.githubusercontent.com/u/12109612?v=3&s=460" alt="...">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">Совсем неплохо</h4>
              Это супер круто!
            </div>
          </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <script type="text/javascript">
    $(".like").click(function() {
      var el = $(this);
      $.ajax({
        url: '/like',
        method: 'GET',
        data: {
          photo: el.data('id'),
          user: '<%= user_id %>'
        },
        success: function(data) {
          el.toggleClass('active');
        }
      });
    });
    </script>
<%- include('footer'); -%>